- content_for(:title) do
  Teams - Launch Academy

%ul.breadcrumbs
  %li.current= link_to "Teams", teams_path

%h2 Teams

%ul.block#teams
  - @teams.each do |team|
    %li{ id: "team_#{team.id}"}
      = link_to(team.name, team)
