<h1>Event Horizon</h1>

<p>Event Horizon is a Launch Academy application for distributing and submitting challenges. It works in conjunction with the <strong>et</strong> gem. To get started, create and change into a new working directory for your challenges:</p>

<div class="code-block"><pre><code class="no-highlight">$ mkdir ~/Dropbox/challenges
$ cd ~/Dropbox/challenges</code></pre></div>

<p>Install <strong>et</strong> with the following command:</p>

<div class="code-block"><pre><code class="no-highlight">$ gem install et</code></pre></div>

<p>To sign up for an account, click the <%= link_to "Sign in with GitHub", new_session_path %> link in the navbar. Once signed up, click on the <em>Signed in as username</em> link to find your authentication token.</p>

<p>Run the following command to configure your account with <strong>et</strong>:</p>

<div class="code-block"><pre><code class="no-highlight">$ et init

Username: &lt;ENTER YOUR GITHUB USERNAME&gt;
Token: &lt;ENTER YOUR AUTHENTICATION TOKEN&gt;
Host: https://event-horizon.herokuapp.com
</code></pre></div>

<p>To view the list of challenges, run the <strong>list</strong> command:</p>

<div class="code-block"><pre><code class="no-highlight">$ et list

 slug             | title
------------------------------------------
 random-pizza     | Random Acts of Pizza
</code></pre></div>

<p>To download a challenge, run the <strong>get</strong> command:</p>

<div class="code-block"><pre><code class="no-highlight">$ et get random-pizza

Extracted challenge to /home/asheehan/Dropbox/challenges/random-pizza
</code></pre></div>

<p>You should now have the files necessary to complete the downloaded challenge. When you are ready to submit your work, first <strong>cd</strong> into the challenge directory and then run the <strong>submit</strong> command:</p>

<div class="code-block"><pre><code class="no-highlight">$ cd random-pizza
$ et submit

Challenge submitted
</code></pre></div>

<p>Your work will be submitted back to Event Horizon where it can be reviewed.</p>
