<p>
  <strong>Please read:</strong>
  We are in the process of migrating to our own single sign on service, <%= link_to 'Launch Pass', "https://launchpass.launchacademy.com" %>.

  If you have previously created a GitHub account, please sign in via GitHub.
  You will be prompted to associate a Launch Pass account once you've signed in.
  If this is your first time on horizon, please sign in via Launch Pass.
</p>

<p><strong>GitHub authentication will be discontinued March 15, 2015</strong></p>

<ul>
  <li><%= link_to 'Sign In With GitHub', '/auth/github' %></li>
  <li><%= link_to 'Sign In With Launch Pass', '/auth/launch_pass' %></li>
</ul>
