%h1 Assignments

- if params[:query]
  .result-count
    - if @assignments.empty?
      No results found.
    - else
      = "Found #{@assignments.length} result(s)."

%table
  %thead
    %tr
      %th Title

  %tbody
    - @assignments.each do |assignment|
      %tr
        %td= link_to assignment.title, assignment_path(assignment)
