%h3 Calendar

%table.calendar
  %thead
    %tr
      %th From
      %th To
      %th Title

  %tbody
    - @calendar_events.each do |calendar_event|
      %tr{ class: ("past-event" if calendar_event.from < DateTime.now)}
        %td= calendar_event.from.to_formatted_s(:short)
        %td= calendar_event.to.to_formatted_s(:short)
        %td= calendar_event.title
