%h3 Calendar

%table.calendar
  %thead
    %tr
      %th Date
      %th Start Time
      %th End Time
      %th Title

  %tbody
    - @calendar_events.each do |event|
      %tr{ class: ("past-event" if event.from < DateTime.now)}
        %td= event.from.to_formatted_s(:day_and_month)
        %td= event.from.to_formatted_s(:hour_and_minute)
        %td= event.to.to_formatted_s(:hour_and_minute)
        %td= link_to(event.title, event.url)
