%h3 Calendar

%table.calendar
  %thead
    %tr
      %th Start Time
      %th End Time
      %th Title

  %tbody
    - @calendar_events.each do |event|
      %tr
        %td= event.start_time.to_formatted_s(:agenda)
        %td= event.end_time.to_formatted_s(:agenda)
        %td= link_to(event.summary, event.url)
