%h2 Perception Problem

~ render_markdown(@problem.prompt)

= form_for [@problem, @answer] do |f|
  - @problem.options.each do |option|
    .boop
      = f.radio_button :perception_problem_option_id, option.id
      ~ f.label "perception_problem_option_id_#{option.id}", render_markdown(option.body)
  = f.submit "Submit Answer"
