.panel.callout.latest-announcement {
  background: #F3E9E8;
  border: none;
  a {
    color: #D3080C;
    &:hover {
      color: black;
    }
  }
}

.table-announcement {
  border-left: 3px solid #D3080C;
}
