.assignment {
  .late {
    color: red;
  }

  .on-time {
    color: green;
  }
}

.submitted-assignment {
  background: #99D699 !important;
}

.todo-assignment {
  background: #FFFF99 !important;
}

.late-assignment {
  background: #FF8080 !important;
}
