@import "globals/colors";
@import "globals/spacing";

.code-block tr:nth-of-type(even) {
  background-color: transparent !important;
}

.code-block {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  border-collapse: collapse;
}

.code-block td {
  padding-left: 0.6em;
}

.code-line {
  white-space: pre;
  padding: 0;
}

.code-line-no {
  min-width: 50px;
  width: 1%;
  padding: 0;
  border-right: 1px solid $border-color;
}

.code-line-body {
  padding: 0;
}

.code-filename {
  border: 1px solid $border-color;
  border-bottom: 0;
  padding: 0.6em;
  text-align: left;
  background-color: $filename-bg-color;
}

.code-comment-inline {
  border: 1px solid $border-color;
}

.code-comment td {
  padding: 0.8em;
  margin: 0;
}

.code-comment-header {
  background-color: $comment-bg-color;
  padding: 0.8em;
  border: 1px solid $border-color;
  border-bottom: 0;
}

.code-comment-body {
  padding: 0.8em;
  border: 1px solid $border-color;
}

.code-comment-body p {
  font-size: 1em;
  margin-bottom: 0;
}
