@import 'globals/colors';

.question-comments {
  list-style: none;
}

.qa-comment {
  border-bottom: 2px solid $border-color;
  margin: .5em 0;
  padding: 1em 0;
  padding-left: 2em;
  font-size: .75em
}

.qa-comment:first-child {
  border-top: 2px solid $border-color;
}

.comment-user {
  font-weight: bold;
  font-style: italic;
  font-size: .6em;
}

p#add-question-comment {
  margin-left: 10px;
  a {
    color: white;
  }
}

.fi-x.delete-comment, .fi-pencil.edit-comment {
  float: right;
  margin: 0 .5em;
  color: black;
  line-height: 1;
  font-size: 1.5em;
}

