@import "globals/colors";

.box {
  border: 1px solid $border-color;
  border-radius: 3px;
  margin: 1em 0;
}

.box__header {
  padding: 0 1em;
  border-bottom: 1px solid $border-color;
}

.box__body {
  padding: 1em;
}

.attribute-box {
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 0.4em;
}
