- content_for(:title) do
  Challenges - Launch Academy

%h1 Challenges

%table
  %thead
    %tr
      %th Title

  %tbody
    - @challenges.each do |challenge|
      %tr
        %td= link_to challenge.title, challenge_path(challenge)
