- content_for(:title) do
  = "#{@challenge.title} - Launch Academy"

%h1= @challenge.title

- if user_signed_in?
  %ul.side-nav.challenge-actions
    %li= link_to "Your Submissions", challenge_submissions_path(@challenge)

#body
  ~ render_markdown(@challenge.body)
