@import "globals/colors";
@import "globals/spacing";

body {
  background-color: $light-bg-color;
}

table {
  width: 100%;
}

dl {
  width: 100%;
  overflow: hidden;
}

dt {
  float: left;
  width: 50%;
}

dd {
  float: left;
  width: 50%;
}

code {
  border: 1px solid $border-color;
  background-color: $code-bg-color-light;
  padding: 2px 4px;
  border-radius: 3px;
}

pre code {
  padding: 0;
  border: 0px;
}

pre {
  border: 1px solid $border-color;
  font-size: 14px;
  line-height: 1.1em;
  overflow: auto;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  border-radius: 3px;
  word-wrap: break-word;
  padding: $source-padding;
}
