$code-bg-color-light: #f8f8f8;
$code-bg-color-dark: #d8d8d8;
$filename-bg-color: #d8d8d8;
$comment-bg-color: #e3f3f6;
$line-no-color: #aaaaaa;
$source-padding: 0.8em;
$border-color: #ddd;

.source-file {
    border: 1px solid $border-color;
    font-size: 0.9em;
    line-height: 1.2em;
    overflow: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-radius: 3px;

    .filename {
        background-color: $filename-bg-color;
        padding-bottom: 0.5em;
        border-bottom: 1px solid $border-color;
        padding: 0.6em;
    }

    .body {
        background-color: $code-bg-color-light;
        padding: $source-padding;
    }

    .highlight {
        background-color: $code-bg-color-light;
    }
}

.comment {
    border: 1px solid $border-color;
    border-radius: 3px;

    .user {
        padding: 0.5em;
        font-size: 0.9em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        background-color: $comment-bg-color;
        border-bottom: 1px solid $border-color;
    }

    .body {
        padding: 0.8em;
        background-color: white;
    }
}

.inline-comment {
    margin-left: -$source-padding;
    margin-right: -$source-padding;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 1em;
    padding-left: 4em;

    .inline-comment-body {
        border: 1px solid $border-color;
    }
}

.general-comment {
    margin: 1em 0;
}

.line {
    display: inline-block;
    width: 100%;
}

.line-no {
    display: inline-block;
    width: 3em;
    color: $line-no-color;
    border-right: 1px solid $line-no-color;
    margin-right: 0.6em;
}
