$code-bg-color-light: #f8f8f8;
$code-bg-color-dark: #d8d8d8;

.source-file {
    border: 1px solid #ddd;
    font-size: 0.9em;
    line-height: 1.2em;
    overflow: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-radius: 3px;

    .filename {
        background-color: $code-bg-color-dark;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
        padding: 0.6em;
    }

    .body {
        background-color: $code-bg-color-light;
        padding: 0.8em;
    }

    .highlight {
        background-color: $code-bg-color-light;
    }
}

.comment {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;

    .user {
        padding: 0.5em;
        font-size: 0.9em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        background-color: #ddd;
        border-bottom: 1px solid #eee;
    }

    .body {
        padding: 0.8em;
        background-color: white;
    }
}
