@import "colors";

body {
    background-color: $light-bg-color;
}

#content {
    background-color: white;
    border: 1px solid $border-color;
    padding: 1em 2em;
}

ul.block {
  margin-left: 0;
  border: 1px solid $border-color;

  li {
    display: block;
    border-bottom: 1px solid $border-color;
    padding: 0.5em;
  }

  li:last-child {
    border-bottom: 0;
  }

  li:nth-child(even) {
    background-color: $light-bg-color;
  }
}

table tr {
  td.late {
    color: red;
  }

  td.on-time {
    color: green;
  }
}

#question {
    .title {
        border-bottom: 1px solid $border-color;
    }

    .user, .created_at {
        padding: 0.5em 0;
    }
}

#unaccept-answer {
  margin-top: 5%;
}

#answers {
    .answer-count {
        border-bottom: 1px solid $border-color;
    }

    .answer {
        border-bottom: 1px solid $border-color;
        padding: 1em 0;

        .user, .answered_at {
            padding: 0.5em 0;
        }

        .accepted {
            color: green;
        }
    }
}

.full-top-bar {
    border-bottom: 1px solid $border-color;
}

.lesson {
    margin: 0.5em 0;
    padding: 1em;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $light-bg-color;
}

.lesson-nav {
    padding: 1em 0;
}

.lesson-type {
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 3px;

    float: right;
    font-size: 0.8em;
    font-weight: bold;

    color: #ffffff;
}

.lesson-type.article {
    background-color: $article-color;
}

.lesson-type.challenge {
    background-color: $challenge-color;
}

.lesson-type.exercise {
    background-color: $exercise-color;
}

.lesson-type.tutorial {
    background-color: $tutorial-color;
}

.lesson-title {
    border-bottom: 1px solid $border-color;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
