@import "colors";

.box {
    border: 1px solid $border-color;
    border-radius: 3px;

    .header {
        border-bottom: 1px solid $border-color;
    }

    .body {
        padding: 1em;
    }

    margin: 1em 0;
}

.attribute-box {
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 0.4em;
}
